<div id="<%= dom_id screening %>">

  <p>
    <strong>Start:</strong>
    <%= screening.start_time %>
  </p>

  <p>
    <strong>End:</strong>
    <%= screening.end_time %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= screening.price %>
  </p>

</div>
