<h1>Editing screening</h1>

<%= render "form", screening: @screening %>

<br>

<div>
  <%= link_to "Show this screening", @screening %> |
  <%= link_to "Back to screenings", screenings_path %>
</div>
