<div class="mt-4 p-5 bg-dark text-white rounded">
<h1>How our cinema look like?</h1>
<ol>
  <li>We have 10 cinema halls </li>
  <li> We have 4 tickets desks where you can make a reservation or just buy tickets</li>
  <li>We want to provide in future 2 automated devices where people can make a reservation or buy tickets</li>
  <li>We have one snack bar</li>
</ol>
</div>