<h1>Movies</h1>
<%= create_date_links %>
<div id="movies">
  <% @movies.each do |movie| %>
    <div class="card m-3 bg-dark text-white" style="width: 30rem;">
      <div class="card-body">
        <%= render movie %>
        <p>
          <%= link_to "Show this movie", movie, class: "btn btn-outline-primary m-2" %>
        </p>
      </div>
    </div>

  <% end %>
</div>
<% if current_user.present? %>
  <% if manager? %>
    <%= link_to "Add new movie", new_movie_path, class: "btn btn-primary p-2 m-3" %>
  <%end%>
<%end%>