<h1>Movies</h1>
<%= create_date_links %>
<div id="movies">
  <% @movies.each do |movie| %>
    <div class="card m-3" style="width: 30rem;">
      <div class="card-body">
        <%= render movie %>
        <%if current_user.present?%>
          <p>
            <%= link_to "Show this movie", movie, class: "btn btn-outline-primary m-2" %>
          </p>
        <% end %>
      </div>
    </div>

  <% end %>
</div>

<%= link_to "New movie", new_movie_path %>
