<h1>Reservations</h1>

<div id="reservations">
  <% @reservations.each do |reservation| %>
    <%= render partial: 'reservation', locals: {reservation: reservation} %>
    <%= button_to "Cancel Reservation", cancel_reservation_path(reservation), method: :patch, class: "btn btn-danger m-2" %>
    <%= button_to "Confirm Reservation", confirm_reservation_path(reservation), method: :patch, class: "btn btn-success m-2" %>
  <% end %>
</div>

