/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
  background-color: #000 !important;
  color: white !important;
  font-family: roboto,helvetica neue,helvetica,arial,serif!important;
  font-weight: 300;
  font-size: 14px;
 }

 .seat {
  appearance: none !important;
  background-color: rgb(161, 161, 161) !important;
  height: 12px !important;
  width: 15px !important;
  margin: 3px !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.seat.occupied {
  background-color: #444451 !important;
}

.reservation-container {
  text-align: center !important;
  perspective: 1000px !important;
  width: 900px !important;
  margin: 0 auto !important;
  margin-bottom: 30px !important;
}
.form-label-reservation{
  font-size: 8px !important;
}
.screen {
  background-color: #fff !important;
  height: 140px !important;
  width: 600px !important;
  margin: 0 auto !important;
  margin-bottom: 30px !important;
  transform: rotateX(-45deg) !important;
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7) !important;
}
#header-nav {
  background-color: #000 !important;
  height: 85px !important;
  color: white;
}

#header-nav a {
  text-decoration: none;
  color: white;
}

.login-btn {
  background-color: #f5821e !important;
  color: #000 !important;
}
#main-menu {
  background-color: #f5821e !important;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,.5);
  height: 50px;
  color: black;
}
#main-menu li {
  border-left: 1px solid black;
}
#main-menu li:last-child {
  border-right: 1px solid black;
}
#main-menu a {
  text-decoration: none;
  color: #000;
  padding-left: 30px !important;
  padding-right: 30px !important;
  font-size: 15px;
  text-align: center;
  font-weight: 500;
}

#main-menu a:hover {
  color: white;
}
.carousel-item img{
  object-fit: cover !important;
  object-position: center center Im !important;
}

.text-padding-center {
  padding-left:200px !important;
  padding-right:200px !important;
}
.card {
  background-color: #000;
  border: solid .5px #f5821e;
  color: white;
  box-shadow: 0 2px 8px 0 #f5821e;
}
.card-title {
  font-weight: 400 !important;
  font-size: 14px !important; 
}