<h1> Your promotions </h1>


<% @promotions.each do |promotion| %>
  <div class="card m-3 bg-dark text-white" style="width: 30rem;">
    <div class="card-body">
      <h5 class="card-title"><%= promotion.value %>%</h5>
      <h6 class="card-subtitle mb-2 text-muted">Promo Code: <%= promotion.code %></h6>
      <p class="card-text"><%= promotion.description %></p>
    </div>
  </div>
<% end %>
